{% extends "layout.html" %}
  
{% block content %}
    <p> See what think-tanks of the following persuasions are suggesting:</p>
      <input type="submit" id="submit" value="Liberal" />
      <br>
      <input type="submit" id="submit" value="Conservative" />
      <br>
      <input type="submit" id="submit" value="Centrist" />
      <br>
      <input type="submit" id="submit" value="Libertarian" />
      <br>
      <input type="submit" id="submit" value="All" />                        
{% endblock %}
